*.png
*.emf
*.mat
*.asv
*.pickle
*.npy
*.pdf
*.cdr
*.pyc
Original/
BVhist
old_code.py
PrevPar
prod_for_profiler.py
resultshist
Libs/make_offset_weights.py
Libs/make_out_all_spikes.py
Libs/simrun2.py
Libs/spike_cause_count_v3.py
Libs/Unused_Functions.py
!Data/MonkNExampleData.mat
!Data/MonkCExampleData.mat
!Data/rgbColorMap.mat

!Data/MonkN/MonkN_input_spikes_05-04-2024-18-01-17.pickle
!Data/MonkN/MonkN_input_indices_05-04-2024-18-01-17.pickle
!Data/MonkN/MonkN_Weights_05-04-2024-18-01-17.npy
!Data/MonkN/MonkN_W_offset_05-04-2024-18-01-17.npy
!Data/MonkN/MonkN_RMSE_Scale_Thresh_05-04-2024-18-01-17.npy
!Data/MonkN/MonkN_PrevPar_05-04-2024-18-01-17.pickle
!Data/MonkN/MonkN_BVhist_05-04-2024-18-01-17.pickle

!Data/MonkC/MonkC_input_spikes_28-06-2024-15-09-50.pickle
!Data/MonkC/MonkC_input_indices_28-06-2024-15-09-50.pickle
!Data/MonkC/MonkC_Weights_28-06-2024-15-09-50.npy
!Data/MonkC/MonkC_W_offset_28-06-2024-15-09-50.npy
!Data/MonkC/MonkC_RMSE_Scale_Thresh_28-06-2024-15-09-50.npy
!Data/MonkC/MonkC_PrevPar_28-06-2024-15-09-50.pickle
!Data/MonkC/MonkC_BVhist_28-06-2024-15-09-50.pickle

!MatlabCode/code_share/util/target_colormap.mat